@font-face {
  font-family: "Century Gothic";
  src: url('../fonts/CenturyGothic.ttf');
}
@font-face {
  font-family: "Source Han Sans JP";
  src: url('../fonts/SourceHanSansJP-Regular.otf');
}
@font-face {
  font-family: "Source Han Sans JP";
  src: url('../fonts/SourceHanSansJP-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Source Han Sans JP";
  src: url('../fonts/SourceHanSansJP-Medium.otf');
  font-weight: 500;
}