extends ../_include/layouts/master.pug
include ../_include/components/banner-block.pug
include ../_include/components/allcontaints.pug
include ../_include/components/menu-inside-image.pug

block variable
  - var thisPageTitle = "Micadorayout"
  - var pageName = "newsdetail"

block description
  - var thisPageDescription = ""

block keywords
  - var thisPageKeywords = "Micadorayout"

block ogpType
  - var thisPageOgpType = "article"

block main
    .newsdetail
      +banner-block("/assets/img/newsdetail/banner.png","2022.06.01","東京都民限定スペシャルパ","ッケージを販売開始！","2022.06.01","東京都民限定スペシャルパ","ッケージを販売開始！")
      .voucher 
        .voucher_content
          .voucher_des 「もっと楽しもう！TokyoTokyo」（略称：もっとTokyo/東京都民割）とは、都民が都内を旅行する場合の旅行代金を補助する観光需要喚起策です。<br><br>
            |実施期間は、2022年6月10日から7月31日まで（8月1日チェックアウト）、予約は6月10日正午以降順次開始します。期間中でも、事業者毎に配分された予算に達し次第、
            |終了します。8月以降については、GoToトラベルや感染状況を見ながら判断する方針です。<br><br>
            |割引内容は、キャンペーンに参加する旅行会社・旅行予約サイト等が販売する旅行を対象に、1人1泊につき6,000円以上で5,000円割引、日帰り旅行商品は1人1回につき3,000円以上で2,500円を割引します。<br><br>
            |1回の旅行で5泊まで対象、利用回数に制限はありません。<br><br>
            |子供上乗せ割引があります。18歳に達する日以降の最初の3/31までの子供については、1,000円の割引を上乗せします。1人1泊につき6,000円以上で6,000円割引を受けれるため、0円での宿泊が可能です。子どもだけのグループも対象です。<br><br>
            |割引を受けるには、免許証等の本人確認書類に加え、ワクチン3回接種済証または陰性結果証明の提示が必要です。<br><br>
            |予約方法は、キャンペーンに参画するオンライン予約サイトや旅行会社、宿泊事業者が販売する「もっとTokyo」対象商品を予約します。（後述）<br><br>
            |事業規模は、前回実施時分の残予算（約33万泊分）と合わせて約100万泊分です。このうち、第1弾（6/10〜7/31）には約25万泊分を準備します。<br><br>
            |これまで小池知事は、GoToトラベルに合わせて再開する考えを示していましたが、ワクチン3回目接種の後押しと宿泊事業者支援の観点から総合的に考え、
            |早期再開への判断を下しました。ブロック割については、「感染状況を見ながら判断する」としています。<br><br>
            |「もっとTokyo」単体でも最大83%割引のため、争奪戦となることが予想されます。当ページで、販売情報を随時更新します。




      .top__page
        .plan_content.relative(data-aos='fade-left')  
          .container
            .text_title_EN Plan
            .text_title_JP 宿泊プラン
            .plan_content_row.flex 
              .plan_content_left
                .sp_row_select.sp_flex.center__justify
                  #row_select_item01.sp_row_select_item おすすめ
                  #row_select_item02.sp_row_select_item.active 人気
                  #row_select_item03.sp_row_select_item 期間限定
                p.plan_title.pc プランの絞り込み
                .plan_button_row.flex.row_select_item01 
                  .plan_button_item.active おすすめ
                  .plan_button_item 人気
                  .plan_button_item 期間限定
                p.plan_title.pc お食事の有無
                .plan_button_row.flex.active.row_select_item02
                  .plan_button_item.active すべて
                  .plan_button_item 素泊まり
                  .plan_button_item 食事付き
                .plan_button_row.sp_flex.row_select_item03
                  .plan_button_item.active おすすめ
                  .plan_button_item 人気
                  .plan_button_item 期間限定
                a.btn_link.pc_flex.center__align(href="#") 
                  span プラン一覧を見る
                  .next_icon.flex.center__align
              .plan_content_right.flex
                .slide__plan 
                  .relative
                    .swiper-button.flex 
                      .swiper-button-prev
                      .swiper-button-next
                    .slide__plan_swiper
                      .swiper-wrapper.slide__plan_wrap.flex
                        .slide_plan_box.swiper-slide.relative
                          .img_wrap
                            img(src="../assets/img/newsdetail/pic_1.png", alt="")
                          .slide_txt_wrap.flex.col
                            .slide_txt_title [極上夜景プラン] 16階以上、<br class="sp">東京スカイツリー®側<br class="pc">お部屋確約プラン
                              table.table_txt.flex
                                tr.flex 
                                  td.table_txt_left 期間：
                                  td.table_txt_right 2022年04月01日〜2022年06月30日
                                tr.flex 
                                  td.table_txt_left 料金：
                                  td.table_txt_right 45,100~
                                tr 
                                  td.table_txt_left お料理：
                                  td.table_txt_right 夕食付き
                            a.btn_detail_plan.sp_flex(href="#") 詳細をみる
                        .slide_plan_box.swiper-slide.relative
                          .img_wrap
                            img(src="../assets/img/newsdetail/pic_2.png", alt="")
                          .slide_txt_wrap.flex.col
                            .slide_txt_title [極上夜景プラン] 16階以上、<br class="sp">東京スカイツリー®側<br class="pc">お部屋確約プラン
                              table.table_txt.flex
                                tr.flex 
                                  td.table_txt_left 期間：
                                  td.table_txt_right 2022年04月01日〜2022年06月30日
                                tr.flex 
                                  td.table_txt_left 料金：
                                  td.table_txt_right 45,100~
                                tr 
                                  td.table_txt_left お料理：
                                  td.table_txt_right 夕食付き
                            a.btn_detail_plan.sp_flex(href="#") 詳細をみる
                        .slide_plan_box.swiper-slide.relative
                          .img_wrap
                            img(src="../assets/img/top/img_food.png", alt="")
                          .slide_txt_wrap.flex.col
                            .slide_txt_title [極上夜景プラン] 16階以上、<br class="sp">東京スカイツリー®側<br class="pc">お部屋確約プラン
                              table.table_txt.flex
                                tr.flex 
                                  td.table_txt_left 期間：
                                  td.table_txt_right 2022年04月01日〜2022年06月30日
                                tr.flex 
                                  td.table_txt_left 料金：
                                  td.table_txt_right 45,100~
                                tr 
                                  td.table_txt_left お料理：
                                  td.table_txt_right 夕食付き
                            a.btn_detail_plan.sp_flex(href="#") 詳細をみる
                a.btn_link.sp_flex.center__align(href="#") 
                  span プラン一覧を見る
                  .next_icon.flex.center__align  
      +menu-inside-image('/assets/img/facilities/reserve.png')