extends ../_include/layouts/master.pug
include ../_include/components/banner-block.pug
include ../_include/components/allcontaints.pug
include ../_include/components/menu-inside-image.pug
include ../_include/components/plan-slide.pug

block variable
  - var thisPageTitle = "Micadorayout"  
  - var pageName = ""

block description
  - var thisPageDescription = ""

block keywords
  - var thisPageKeywords = "Micadorayout"

block ogpType
  - var thisPageOgpType = "article"

block main
    .facilities
      +banner-block("/assets/img/facilities/facilities_imgtop.png","OTHER FACILITIES","その他施設")
      .facilities-box.first(data-aos='fade-in')
        .custorm-container
          .facilities-box__title-sp OTHER FACILITIES
          .flex.column-sp
            .facilities-box__left
              .facilities-box__slide.swiper
                .facilities-box__swiper.swiper-wrapper
                  img(src="/assets/img/facilities/facilities_img09.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/facilities_img04.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/reserve.png", alt="" class="swiper-slide")
                .facilities-box__swiper-pagination
            .facilities-box__right
              .facilities-box__title ザ・クラブ
              .facilities-box__desc 開閉式ガラス天井の20メートル温水プールをはじめ、トレ
                |<br>ーニングジム、ダンシングフロア、サウナ、ジャグジー、
                |<br>マッサージルームも整った、浅草ビューホテル内の本格的
                |<br>な会員制フィットネスセンター。
                |<br>※ご宿泊のお客様は温水プールのみのご利用になります。
              .line-border
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray 営業時間
                .facilities-box__row-right
                  .facilities-box__text ■平日
                    |<br>07:00 - 09:00 / 12:00 - 22:00
                    |<br>最終受付21:00、プール終了21:30
                    |<br>■土日
                    |<br>07:00 - 09:00 / 10:00 - 22:00
                    |<br>最終受付21:00、プール終了21:30
                    |<br>■祝日
                    |<br>07:00 - 09:00 / 10:00 - 21:00
                    |<br>最終受付20:00、プール終了20:30
              .line-border.mt-23
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray 料金
                .facilities-box__row-right
                  .facilities-box__text ￥3,300 (ご滞在中のお客さまのみ)
              .line-border
              .facilities-box__note ご利用上の注意
              .facilities-box__note-desc - お子様(小学生以下)のご利用は7・8月のみとなります。(￥2,200)
      .facilities-box(data-aos='fade-in')
        .custorm-container
          .flex.column-sp.jsb
            .facilities-box__left.order-2
              .facilities-box__slide.swiper
                .facilities-box__swiper.swiper-wrapper
                  img(src="/assets/img/facilities/facilities_img09.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/facilities_img04.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/reserve.png", alt="" class="swiper-slide")
                .facilities-box__swiper-pagination
            .facilities-box__right.ml-180
              .facilities-box__title Photo Studio
                |<br>スタジオ・インプレス
              .line-border.mt-20
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray 営業時間
                .facilities-box__row-right
                  .facilities-box__text 10:00 - 18:00
              .line-border
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray TEL
                .facilities-box__row-right
                  .facilities-box__text 03-3841-7584
              .line-border
      .facilities-box(data-aos='fade-in')
        .custorm-container
          .flex.column-sp
            .facilities-box__left
              .facilities-box__slide.swiper
                .facilities-box__swiper.swiper-wrapper
                  img(src="/assets/img/facilities/facilities_img09.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/facilities_img04.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/reserve.png", alt="" class="swiper-slide")
                .facilities-box__swiper-pagination
            .facilities-box__right
              .facilities-box__title Photo Studio
                |<br>スタジオ・インプレス
              .line-border.mt-20
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray 営業時間
                .facilities-box__row-right
                  .facilities-box__text 10:00 - 18:00
              .line-border
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray TEL
                .facilities-box__row-right
                  .facilities-box__text 03-3841-7584
              .line-border
      .facilities-box(data-aos='fade-in')
        .custorm-container
          .flex.column-sp.jsb
            .facilities-box__left.order-2
              .facilities-box__slide.swiper
                .facilities-box__swiper.swiper-wrapper
                  img(src="/assets/img/facilities/facilities_img09.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/facilities_img04.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/reserve.png", alt="" class="swiper-slide")
                .facilities-box__swiper-pagination
            .facilities-box__right.ml-180
              .facilities-box__title Photo Studio
                |<br>スタジオ・インプレス
              .line-border.mt-20
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray 営業時間
                .facilities-box__row-right
                  .facilities-box__text 10:00 - 18:00
              .line-border
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray TEL
                .facilities-box__row-right
                  .facilities-box__text 03-3841-7584
              .line-border
      +plan-slide() 
      +allcontaints()
      +menu-inside-image('/assets/img/facilities/reserve.png')