extends ../_include/layouts/master.pug
include ../_include/components/banner-block.pug
include ../_include/components/allcontaints.pug
include ../_include/components/menu-inside-image.pug

block variable
  - var thisPageTitle = "Micadorayout"
  - var pageName = ""

block description
  - var thisPageDescription = ""

block keywords
  - var thisPageKeywords = "Micadorayout"

block ogpType
  - var thisPageOgpType = "article"

block main
    .facilities
      +banner-block("/assets/img/facilities/facilities_imgtop.png","OTHER FACILITIES","その他施設")
      .facilities-box(data-aos='fade-in')
        .container
          .facilities-box__title-sp OTHER FACILITIES
          .flex.column-sp
            .facilities-box__left
              .facilities-box__slide.swiper
                .facilities-box__swiper.swiper-wrapper
                  img(src="/assets/img/facilities/facilities_img09.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/facilities_img04.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/reserve.png", alt="" class="swiper-slide")
                .facilities-box__swiper-pagination
            .facilities-box__right
              .facilities-box__title ザ・クラブ
              .facilities-box__desc 開閉式ガラス天井の20メートル温水プールをはじめ、トレ
                |<br>ーニングジム、ダンシングフロア、サウナ、ジャグジー、
                |<br>マッサージルームも整った、浅草ビューホテル内の本格的
                |<br>な会員制フィットネスセンター。
                |<br>※ご宿泊のお客様は温水プールのみのご利用になります。
              .line-border
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray 営業時間
                .facilities-box__row-right
                  .facilities-box__text ■平日
                    |<br>07:00 - 09:00 / 12:00 - 22:00
                    |<br>最終受付21:00、プール終了21:30
                    |<br>■土日
                    |<br>07:00 - 09:00 / 10:00 - 22:00
                    |<br>最終受付21:00、プール終了21:30
                    |<br>■祝日
                    |<br>07:00 - 09:00 / 10:00 - 21:00
                    |<br>最終受付20:00、プール終了20:30
              .line-border.mt-23
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray 料金
                .facilities-box__row-right
                  .facilities-box__text ￥3,300 (ご滞在中のお客さまのみ)
              .line-border
              .facilities-box__note ご利用上の注意
              .facilities-box__note-desc - お子様(小学生以下)のご利用は7・8月のみとなります。(￥2,200)
      .facilities-box(data-aos='fade-in')
        .container
          .flex.column-sp.jsb
            .facilities-box__left.order-2
              .facilities-box__slide.swiper
                .facilities-box__swiper.swiper-wrapper
                  img(src="/assets/img/facilities/facilities_img09.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/facilities_img04.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/reserve.png", alt="" class="swiper-slide")
                .facilities-box__swiper-pagination
            .facilities-box__right.ml-180
              .facilities-box__title Photo Studio
                |<br>スタジオ・インプレス
              .line-border.mt-20
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray 営業時間
                .facilities-box__row-right
                  .facilities-box__text 10:00 - 18:00
              .line-border
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray TEL
                .facilities-box__row-right
                  .facilities-box__text 03-3841-7584
              .line-border
      .facilities-box(data-aos='fade-in')
        .container
          .flex.column-sp
            .facilities-box__left
              .facilities-box__slide.swiper
                .facilities-box__swiper.swiper-wrapper
                  img(src="/assets/img/facilities/facilities_img09.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/facilities_img04.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/reserve.png", alt="" class="swiper-slide")
                .facilities-box__swiper-pagination
            .facilities-box__right
              .facilities-box__title Photo Studio
                |<br>スタジオ・インプレス
              .line-border.mt-20
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray 営業時間
                .facilities-box__row-right
                  .facilities-box__text 10:00 - 18:00
              .line-border
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray TEL
                .facilities-box__row-right
                  .facilities-box__text 03-3841-7584
              .line-border
      .facilities-box(data-aos='fade-in')
        .container
          .flex.column-sp.jsb
            .facilities-box__left.order-2
              .facilities-box__slide.swiper
                .facilities-box__swiper.swiper-wrapper
                  img(src="/assets/img/facilities/facilities_img09.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/facilities_img04.png", alt="" class="swiper-slide")
                  img(src="/assets/img/facilities/reserve.png", alt="" class="swiper-slide")
                .facilities-box__swiper-pagination
            .facilities-box__right.ml-180
              .facilities-box__title Photo Studio
                |<br>スタジオ・インプレス
              .line-border.mt-20
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray 営業時間
                .facilities-box__row-right
                  .facilities-box__text 10:00 - 18:00
              .line-border
              .facilities-box__row 
                .facilities-box__row-left
                  .facilities-box__text.facilities-gray TEL
                .facilities-box__row-right
                  .facilities-box__text 03-3841-7584
              .line-border
      .top__page
        .plan_content.relative(data-aos='fade-left')  
          .container
            .text_title_EN Plan
            .text_title_JP 宿泊プラン
            .plan_content_row.flex 
              .plan_content_left
                .sp_row_select.sp_flex.center__justify
                  #row_select_item01.sp_row_select_item おすすめ
                  #row_select_item02.sp_row_select_item.active 人気
                  #row_select_item03.sp_row_select_item 期間限定
                p.plan_title.pc プランの絞り込み
                .plan_button_row.flex.row_select_item01 
                  .plan_button_item.active おすすめ
                  .plan_button_item 人気
                  .plan_button_item 期間限定
                p.plan_title.pc お食事の有無
                .plan_button_row.flex.active.row_select_item02
                  .plan_button_item.active すべて
                  .plan_button_item 素泊まり
                  .plan_button_item 食事付き
                .plan_button_row.sp_flex.row_select_item03
                  .plan_button_item.active おすすめ
                  .plan_button_item 人気
                  .plan_button_item 期間限定
                a.btn_link.pc_flex.center__align(href="#") 
                  span プラン一覧を見る
                  .next_icon.flex.center__align
              .plan_content_right.flex
                .slide__plan 
                  .relative
                    .swiper-button.flex 
                      .swiper-button-prev
                      .swiper-button-next
                    .slide__plan_swiper
                      .swiper-wrapper.slide__plan_wrap.flex
                        .slide_plan_box.swiper-slide.relative
                          .img_wrap
                            img(src="../assets/img/top/img_food.png", alt="")
                          .slide_txt_wrap.flex.col
                            .slide_txt_title [極上夜景プラン] 16階以上、<br class="sp">東京スカイツリー®側<br class="pc">お部屋確約プラン
                              table.table_txt.flex
                                tr.flex 
                                  td.table_txt_left 期間：
                                  td.table_txt_right 2022年04月01日〜2022年06月30日
                                tr.flex 
                                  td.table_txt_left 料金：
                                  td.table_txt_right 45,100~
                                tr 
                                  td.table_txt_left お料理：
                                  td.table_txt_right 夕食付き
                            a.btn_detail_plan.sp_flex(href="#") 詳細をみる
                        .slide_plan_box.swiper-slide.relative
                          .img_wrap
                            img(src="../assets/img/top/img_food.png", alt="")
                          .slide_txt_wrap.flex.col
                            .slide_txt_title [極上夜景プラン] 16階以上、<br class="sp">東京スカイツリー®側<br class="pc">お部屋確約プラン
                              table.table_txt.flex
                                tr.flex 
                                  td.table_txt_left 期間：
                                  td.table_txt_right 2022年04月01日〜2022年06月30日
                                tr.flex 
                                  td.table_txt_left 料金：
                                  td.table_txt_right 45,100~
                                tr 
                                  td.table_txt_left お料理：
                                  td.table_txt_right 夕食付き
                            a.btn_detail_plan.sp_flex(href="#") 詳細をみる
                        .slide_plan_box.swiper-slide.relative
                          .img_wrap
                            img(src="../assets/img/top/img_food.png", alt="")
                          .slide_txt_wrap.flex.col
                            .slide_txt_title [極上夜景プラン] 16階以上、<br class="sp">東京スカイツリー®側<br class="pc">お部屋確約プラン
                              table.table_txt.flex
                                tr.flex 
                                  td.table_txt_left 期間：
                                  td.table_txt_right 2022年04月01日〜2022年06月30日
                                tr.flex 
                                  td.table_txt_left 料金：
                                  td.table_txt_right 45,100~
                                tr 
                                  td.table_txt_left お料理：
                                  td.table_txt_right 夕食付き
                            a.btn_detail_plan.sp_flex(href="#") 詳細をみる
                a.btn_link.sp_flex.center__align(href="#") 
                  span プラン一覧を見る
                  .next_icon.flex.center__align  
      +menu-inside-image('/assets/img/facilities/reserve.png')