mixin allcontaints()
    .allcontaints__content.pc
      .container_child
        h3.text__title_EN.color_FB9.flex(data-aos='fade-in') ALL CONTAINTS
        .allcontaints__wrap_slide
          .swiper-pagination.allcontaints__pagination
          .allcontaints__wrap
            .allcontaints__wrap_item(data-aos='fade-in')
              .img_wrap.allcontaints__img
                img(src="../assets/img/rooms/img_1.png", alt="all containts img")
              .allcontaints__detailt 
                a(href="#")
                  p.text_EN TOP
                p.text_JP.pc 天国の名にもっともふさわしい楽園へ
            .allcontaints__wrap_item(data-aos='fade-in')
                .img_wrap.allcontaints__img
                    img(src="../assets/img/rooms/img_2.png", alt="all containts img")
                .allcontaints__detailt 
                    a(href="#")
                        p.text_EN ROOM TYPE
                    p.text_JP.pc バリエーション豊かな客室
            .allcontaints__wrap_item(data-aos='fade-in')
                .img_wrap.allcontaints__img
                        img(src="../assets/img/rooms/img_3.png", alt="all containts img")
                .allcontaints__detailt 
                    a(href="#")
                        p.text_EN FOOD
                    p.text_JP.pc 沖縄のすべてを楽しめる豊富なプラン
            .allcontaints__wrap_item(data-aos='fade-in')
                .img_wrap.allcontaints__img
                    img(src="../assets/img/rooms/img_4.png", alt="all containts img")
                .allcontaints__detailt 
                    a(href="#")
                        p.text_EN FACILITY
                    p.text_JP.pc 天国の名にもっともふさわしい楽園へ
            .allcontaints__wrap_item(data-aos='fade-in')
                .img_wrap.allcontaints__img
                    img(src="../assets/img/rooms/img_5.png", alt="all containts img")
                .allcontaints__detailt 
                    a(href="#")
                        p.text_EN ACTIVITY
                    p.text_JP.pc 沖縄のすべてを楽しめる豊富なプラン
            .allcontaints__wrap_item(data-aos='fade-in')
                .img_wrap.allcontaints__img
                    img(src="../assets/img/rooms/img_6.png", alt="all containts img")
                .allcontaints__detailt 
                    a(href="#")
                        p.text_EN ACCESS
                    p.text_JP.pc 沖縄のすべてを楽しめる豊富なプラン
    .allcontaints__content.sp
      .container
        h3.text__title_EN.color_FB9.flex.center__justify ALL CONTENTS
        .allcontaints__wrap_slide.swiper
          .swiper-pagination.allcontaints__pagination
          .allcontaints__wrap
            .allcontaints__wrap_item.swiper-slide
              .img_wrap.allcontaints__img
                img(src="../assets/img/top/allcontentsp1.png", alt="all containts img")
              .allcontaints__detailt 
                a(href="#") 
                  p.text_EN TOP
            .allcontaints__wrap_item.swiper-slide
              .img_wrap.allcontaints__img
                img(src="../assets/img/top/allcontentsp2.png", alt="all containts img")
              .allcontaints__detailt 
                a(href="#") 
                  p.text_EN ROOM TYPE
            .allcontaints__wrap_item.swiper-slide
              .img_wrap.allcontaints__img
                img(src="../assets/img/top/allcontentsp3.png", alt="all containts img")
              .allcontaints__detailt 
                a(href="#") 
                  p.text_EN STAY PLAN
            .allcontaints__wrap_item.swiper-slide
              .img_wrap.allcontaints__img
                img(src="../assets/img/top/allcontaints_img04.png", alt="all containts img")
              .allcontaints__detailt 
                a(href="#") 
                  p.text_EN PLAN
            .allcontaints__wrap_item.swiper-slide
              .img_wrap.allcontaints__img
                img(src="../assets/img/top/allcontaints_img05.png", alt="all containts img")
              .allcontaints__detailt 
                a(href="#") 
                  p.text_EN DESIGN
            .allcontaints__wrap_item.swiper-slide
              .img_wrap.allcontaints__img
                img(src="../assets/img/top/allcontaints_img06.png", alt="all containts img")
              .allcontaints__detailt 
                a(href="#") 
                  p.text_EN MODEL ROOM
            .allcontaints__wrap_item.swiper-slide
              .img_wrap.allcontaints__img
                img(src="../assets/img/top/allcontaints_img07.png", alt="all containts img")
              .allcontaints__detailt 
                a(href="#") 
                  p.text_EN QUALITY