mixin banner-block(img,title,sub,option,option1)
    - var attributes = {};
    - attributes.src = img;
    - attributes.alt = title + ' banner';
    .banner-block.flex.center__align.relative 
        .banner__txt
            .container_child 
                h1= title
                if option != ""
                    p= sub
                    p.sp= option
                    p.sp= option1
        .img_wrap 
            img&attributes(attributes)
        .overlay