mixin bottom-nav(img1, img2, text1, text2, link1, link2)
    - var attributes = {};
    - attributes.src = '../assets/img/common/next__icon_red.png';
    - attributes.alt = heading + ' btn';
    - var attribute1 = {};
    - var attribute2 = {};
    - attribute1.src = img1;
    - attribute1.alt = 'plan image left';
    - attribute2.src = img2;
    - attribute2.alt = 'plan image right';
    .bottom__nav 
        .container.clear_fix
            .nav__block.flex 
                .nav__container 
                    img.img__nav&attributes(attribute1)
                    a.button__link_block.flex.center__align(href=link1)  
                        span.name__btn=text1
                        .common__next_btn.flex.center__align.center__justify
                            img.btn_icon&attributes(attributes)
                .nav__container 
                    img.img__nav&attributes(attribute2)
                    a.button__link_block.flex.center__align(href=link2)  
                        span.name__btn=text2
                        .common__next_btn.flex.center__align.center__justify
                            img.btn_icon&attributes(attributes)