mixin btn-link(text,link)
    a.button__link_block.flex.center__align(href=link)  
        span.name__btn=text
        .common__next_btn.flex.center__align.center__justify.relative
            .next__icon