mixin location-slide(img1,img2,tittle,text)
    - var attribute1 = {};
    - var attribute2 = {};
    - attribute1.src = img1;
    - attribute1.alt = 'location image left';
    - attribute2.src = img2;
    - attribute2.alt = 'location image right';
    .location__slide
        .loop__img_wrap.flex
            ul.flex.item01
                li.loop_item
                    img.location__img_01&attributes(attribute1) 
                li.loop_item
                    img.location__img_02&attributes(attribute2)
            ul.flex.item02
                li.loop_item
                    img.location__img_01&attributes(attribute1)
                li.loop_item
                    img.location__img_02&attributes(attribute2)
        .location__index_txt.clear_fix.relative
            .container
                h3.text__title_EN.color_FB9.relative LOCATION
                .bg_custorm
                .text_wrap.relative
                    h3.text__title_JP=tittle
                    p.location__label=text
                    a.button__link_block.flex.center__align(href="#")
                        span.name__btn ローケーションを詳しく
                        .common__next_btn.flex.center__align.center__justify.relative
                            .next__icon