mixin navigation()
    .location__navigation 
        .master__container.clear_fix
            .nav__block.flex 
                a(href="#").nav__link
                    img(src="../assets/img/location/nav-img01.png", alt="")
                    .nav__txt 物件エントリー
                a(href="#").nav__link
                    img(src="../assets/img/location/nav-img02.png", alt="")
                    .nav__txt 来場予約