mixin plan-type(titles, desc, sp)
    div(class= (sp != undefined ? "plan__type " + sp : "plan__type"))
        .master__container.clear_fix
            .type__container 
                each title,i in titles
                    a(href="#").type__block.flex
                        .type__left
                            h4.type__title= title
                            p.type__desc= desc[i]
                        .type__right 
                            img(src="../assets/img/common/dow__icon_black.png", alt="icon next")