mixin plan-block()
  .top__page
    .plan_content.relative(data-aos='fade-left')  
      .container
        .text_title_EN Plan
        .text_title_JP 宿泊プラン
        .plan_content_row.flex 
          .plan_content_left
            .sp_row_select.sp_flex.center__justify
              #row_select_item01.sp_row_select_item おすすめ
              #row_select_item02.sp_row_select_item.active 人気
              #row_select_item03.sp_row_select_item 期間限定
            p.plan_title.pc プランの絞り込み
            .plan_button_row.flex.row_select_item01 
              .plan_button_item.active おすすめ
              .plan_button_item 人気
              .plan_button_item 期間限定
            p.plan_title.pc お食事の有無
            .plan_button_row.flex.active.row_select_item02
              .plan_button_item.active すべて
              .plan_button_item 素泊まり
              .plan_button_item 食事付き
            .plan_button_row.sp_flex.row_select_item03
              .plan_button_item.active おすすめ
              .plan_button_item 人気
              .plan_button_item 期間限定
            a.btn_link.pc_flex.center__align(href="#") 
              span プラン一覧を見る
              .next_icon.flex.center__align
          .plan_content_right.flex
            .slide__plan 
              .relative
                .swiper-button.flex 
                  .swiper-button-prev
                  .swiper-button-next
                .slide__plan_swiper
                  .swiper-wrapper.slide__plan_wrap.flex
                    .slide_plan_box.swiper-slide.relative
                      .img_wrap
                        img(src="../assets/img/top/img_food.png", alt="")
                      .slide_txt_wrap.flex.col
                        .slide_txt_title [極上夜景プラン] 16階以上、<br class="sp">東京スカイツリー®側<br class="pc">お部屋確約プラン
                          table.table_txt.flex
                            tr.flex 
                              td.table_txt_left 期間：
                              td.table_txt_right 2022年04月01日〜2022年06月30日
                            tr.flex 
                              td.table_txt_left 料金：
                              td.table_txt_right 45,100~
                            tr 
                              td.table_txt_left お料理：
                              td.table_txt_right 夕食付き
                        a.btn_detail_plan.sp_flex(href="#") 詳細をみる
                    .slide_plan_box.swiper-slide.relative
                      .img_wrap
                        img(src="../assets/img/top/img_food.png", alt="")
                      .slide_txt_wrap.flex.col
                        .slide_txt_title [極上夜景プラン] 16階以上、<br class="sp">東京スカイツリー®側<br class="pc">お部屋確約プラン
                          table.table_txt.flex
                            tr.flex 
                              td.table_txt_left 期間：
                              td.table_txt_right 2022年04月01日〜2022年06月30日
                            tr.flex 
                              td.table_txt_left 料金：
                              td.table_txt_right 45,100~
                            tr 
                              td.table_txt_left お料理：
                              td.table_txt_right 夕食付き
                        a.btn_detail_plan.sp_flex(href="#") 詳細をみる
                    .slide_plan_box.swiper-slide.relative
                      .img_wrap
                        img(src="../assets/img/top/img_food.png", alt="")
                      .slide_txt_wrap.flex.col
                        .slide_txt_title [極上夜景プラン] 16階以上、<br class="sp">東京スカイツリー®側<br class="pc">お部屋確約プラン
                          table.table_txt.flex
                            tr.flex 
                              td.table_txt_left 期間：
                              td.table_txt_right 2022年04月01日〜2022年06月30日
                            tr.flex 
                              td.table_txt_left 料金：
                              td.table_txt_right 45,100~
                            tr 
                              td.table_txt_left お料理：
                              td.table_txt_right 夕食付き
                        a.btn_detail_plan.sp_flex(href="#") 詳細をみる
            a.btn_link.sp_flex.center__align(href="#") 
              span プラン一覧を見る
              .next_icon.flex.center__align  