extends ../_include/layouts/master.pug
include ../_include/components/banner-block.pug
include ../_include/components/plan-slide.pug
include ../_include/components/menu-inside-image.pug

block variable
  - var thisPageTitle = "Micadorayout"
  - var pageName = "newsdetail"

block description
  - var thisPageDescription = ""

block keywords
  - var thisPageKeywords = "Micadorayout"

block ogpType
  - var thisPageOgpType = "article"

block main
    .newsdetail
      #newsdetailData
      +plan-slide() 
      +menu-inside-image('/assets/img/facilities/reserve.png')