extends ../_include/layouts/master.pug
include ../_include/components/btn-link.pug
include ../_include/components/location-slide.pug
include ../_include/components/menu-inside-image.pug
include ../_include/components/plan-model.pug
include ../_include/components/banner-block.pug

block variable
  - var thisPageTitle = "Micadorayout"
  - var pageName = "Executive"

block description
  - var thisPageDescription = ""

block keywords
  - var thisPageKeywords = "Micadorayout"

block ogpType
  - var thisPageOgpType = "article"

block main
  .sightseeing_page
    +banner-block("/assets/img/sightseeing/sightseeing-mv.jpg","SIGHTSEEING","周辺観光") 
    .sightseeing-map(data-aos='fade-in')  
      .container
        .sightseeing-title SIGHTSEEING 
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207446.24819638403!2d139.60078419861492!3d35.66844146196813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b857628235d%3A0xcdd8aef709a2b520!2z5pel5pys44CB5p2x5Lqs6YO95p2x5Lqs!5e0!3m2!1sja!2s!4v1653364893261!5m2!1sja!2s' width='1280' height='600' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
    .tour-review(data-aos='fade-in') 
      .location__edu
        .container
          .loop__img_wrap.flex.tour__swiper_swap
            ul.flex.item01.loop__img_item.swiper-wrapper
              li.loop_item.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
              li.loop_item.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
              li.loop_item.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
              li.loop_item.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
              li.loop_item.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
              li.loop_item.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
    .event-content(data-aos='fade-in')  
      .location__edu
        .container
          .sightseeing-title EVENT 
          .loop__img_wrap.flex.tour__swiper_swap
            ul.flex.item01.loop__img_item.swiper-wrapper
              li.loop_item.spencial.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block.spencial 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
              li.loop_item.spencial.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block.spencial 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
              li.loop_item.spencial.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block.spencial 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
              li.loop_item.spencial.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block.spencial 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
              li.loop_item.spencial.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block.spencial 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
              li.loop_item.spencial.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block.spencial 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
              li.loop_item.spencial.swiper-slide
                img(src="../assets/img/top/content_img_openair.png").location__img_01 
                .count-block.spencial 01 
                .item__txt
                  .item__title 市立鷺洲小学校
                  .item__desc 634ｍと世界一の高さを誇る電波塔。展望タワーとしても東京を代表する注目の観光スポットです。周辺は東京スカイツリータウン®として巨大複合施設もあり、一日中楽しむことができます。
    .stay_plan_content(data-aos='fade-in')  
        .container_child
            .text_title_EN STAY PLAN
            .stay_plan_row.flex 
                .stay_plan_left
                    .col_select
                        #recommendation.col_select_item.flex.center__align.center__justify.active おすすめ
                        #popular_plan.col_select_item.flex.center__align.center__justify 人気プラン
                        #winter_only.col_select_item.flex.center__align.center__justify 冬季限定
                    .col_radio_wrap.relative    
                        .flex.col.recommendation.col_radio_wrap-item.active
                            .flex.center__align.radio_item
                                input#recommendation-01(type="radio", name="recommendation", checked) 
                                label(for='recommendation-01') 全て
                            .flex.center__align.radio_item
                                input#recommendation-02(type="radio", name="recommendation") 
                                label(for='recommendation-02') 素泊まり
                            .flex.center__align.radio_item
                                input#recommendation-03(type="radio", name="recommendation") 
                                label(for='recommendation-03') 朝食付き
                            .flex.center__align.radio_item
                                input#recommendation-04(type="radio", name="recommendation") 
                                label(for='recommendation-04') 朝夕食付き
                        .flex.col.popular_plan.col_radio_wrap-item
                            .flex.center__align.radio_item
                                input#popular_plan-01(type="radio", name="popular_plan", checked) 
                                label(for='popular_plan-01') 朝食付き
                            .flex.center__align.radio_item
                                input#popular_plan-02(type="radio", name="popular_plan") 
                                label(for='popular_plan-02') 素泊まり
                            .flex.center__align.radio_item
                                input#popular_plan-03(type="radio", name="popular_plan") 
                                label(for='popular_plan-03') 全て
                            .flex.center__align.radio_item
                                input#popular_plan-04(type="radio", name="popular_plan") 
                                label(for='popular_plan-04') 朝夕食付き
                        .flex.col.winter_only.col_radio_wrap-item
                            .flex.center__align.radio_item
                                input#winter_only-01(type="radio", name="winter_only", checked) 
                                label(for='winter_only-01') 朝食付き
                            .flex.center__align.radio_item
                                input#winter_only-02(type="radio", name="winter_only") 
                                label(for='winter_only-02') 朝食付き
                            .flex.center__align.radio_item
                                input#winter_only-03(type="radio", name="winter_only") 
                                label(for='winter_only-03') 全て
                            .flex.center__align.radio_item
                                input#winter_only-04(type="radio", name="winter_only") 
                                label(for='winter_only-04') 素泊まり
                .stay_plan_right.flex.relative
                    .stay_plan_btn_swiper.swiper-button-next.pc_flex
                    .slide_stay_plan.pc
                        .swiper-wrapper.slide_stay_plan_wrap.flex
                            .slide_plan_item.swiper-slide.relative
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約 
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.swiper-slide.relative
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約 
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.swiper-slide.relative
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜           
                    .slide_stay_plan.sp
                        .slide_stay_plan_wrap
                            .slide_plan_item.relative
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約 
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.relative
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約 
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.relative.hide
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.relative.hide
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜   
                            .slide_plan_item.relative.hide
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.relative.hide
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            #btn_view_more.btn_view_more.sp_flex.center__justify.center__align もっとみる          
    .allcontaints__content.pc(data-aos='fade-in') 
      .container_child
        h3.text__title_EN.color_FB9.flex ALL CONTAINTS
        .allcontaints__wrap_slide
            .swiper-pagination.allcontaints__pagination
            .allcontaints__wrap
              .allcontaints__wrap_item
                .img_wrap.allcontaints__img
                  img(src="../assets/img/rooms/img_1.png", alt="all containts img")
                .allcontaints__detailt 
                  a(href="#")
                    p.text_EN TOP
                  p.text_JP.pc 天国の名にもっともふさわしい楽園へ
              .allcontaints__wrap_item
                  .img_wrap.allcontaints__img
                      img(src="../assets/img/rooms/img_2.png", alt="all containts img")
                  .allcontaints__detailt 
                      a(href="#")
                          p.text_EN ROOM TYPE
                      p.text_JP.pc バリエーション豊かな客室
              .allcontaints__wrap_item
                  .img_wrap.allcontaints__img
                          img(src="../assets/img/rooms/img_3.png", alt="all containts img")
                  .allcontaints__detailt 
                      a(href="#")
                          p.text_EN FOOD
                      p.text_JP.pc 沖縄のすべてを楽しめる豊富なプラン
              .allcontaints__wrap_item
                  .img_wrap.allcontaints__img
                      img(src="../assets/img/rooms/img_4.png", alt="all containts img")
                  .allcontaints__detailt 
                      a(href="#")
                          p.text_EN FACILITY
                      p.text_JP.pc 天国の名にもっともふさわしい楽園へ
              .allcontaints__wrap_item
                  .img_wrap.allcontaints__img
                      img(src="../assets/img/rooms/img_5.png", alt="all containts img")
                  .allcontaints__detailt 
                      a(href="#")
                          p.text_EN ACTIVITY
                      p.text_JP.pc 沖縄のすべてを楽しめる豊富なプラン
              .allcontaints__wrap_item
                  .img_wrap.allcontaints__img
                      img(src="../assets/img/rooms/img_6.png", alt="all containts img")
                  .allcontaints__detailt 
                      a(href="#")
                          p.text_EN ACCESS
                      p.text_JP.pc 沖縄のすべてを楽しめる豊富なプラン
    .allcontaints__content.sp
      .container
        h3.text__title_EN.color_FB9.flex.center__justify ALL CONTENTS
      .allcontaints__wrap_slide.swiper
        .container
          .swiper-pagination.allcontaints__pagination
        .allcontaints__wrap
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontentsp1.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN TOP
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontentsp2.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN ROOM TYPE
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontentsp3.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN STAY PLAN
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontaints_img04.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN PLAN
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontaints_img05.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN DESIGN
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontaints_img06.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN MODEL ROOM
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontaints_img07.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN QUALITY
    +menu-inside-image('/assets/img/top/reserve.png')
