extends ../_include/layouts/master.pug
include ../_include/components/btn-link.pug
include ../_include/components/menu-inside-image.pug
include ../_include/components/plan-model.pug
include ../_include/components/banner-block.pug
include ../_include/components/plan-slide.pug

block variable
  - var thisPageTitle = "Micadorayout"
  - var pageName = "Sightseeing"

block description
  - var thisPageDescription = ""

block keywords
  - var thisPageKeywords = "Micadorayout"

block ogpType
  - var thisPageOgpType = "article"

block main
  .sightseeing_page
    .banner-block.flex.center__align.relative 
        .banner__txt
            .container_child 
                h1 SIGHTSEEING
                if option != ""
                    p.pc 周辺観光
                    p.sp micado INNの
                    p.sp 周辺観光をご紹介します。
        .img_wrap 
            img(src="/assets/img/sightseeing/sightseeing-mv.png")
        .overlay
    .concept__content_ver02.content__right(data-aos='fade-in')
      .container.clear_fix.flex
        .text_wrap.flex.col.center__justify
          h3.text__title_EN.color_FB9 周辺のおすすめスポット
          h3.text__title_JP 自然を体験する旅行に
          p.detail__content  海と山に囲まれたmicado INNの周りには、数々の観光スポットがあります。<br/>
            |レンタサイクルや徒歩でも、お楽しみいただけるのは、自然に恵まれた環境にあるからこそ。          
        .concept__img.img_wrap
          img(src="/assets/img/sightseeing/content_img_1.png", alt="") 
    .slide.location__edu(data-aos='fade-in')
      .container_child
        .loop__img_wrap.flex.location__swiper_swap.relative
          ul.flex.item01.loop__img_item01.swiper-wrapper
            li.loop_item.swiper-slide
              img(src="/assets/img/sightseeing/slide_img_1.png").location__img_01 
              .item__txt
                .item__title ヘブンビーチ
                .item__desc 徒歩4分・約300m
                .item__desc__detail 100を超える植物！そして季節ごとに開催しているフェアも大人気！<br>現在あじさい祭り開催中!
            li.loop_item.swiper-slide
              img(src="/assets/img/sightseeing/slide_img_2.png").location__img_02
              .item__txt
                .item__title 太陽と海の美術館
                .item__desc 徒歩4分・約300m
                .item__desc__detail 絵画、彫刻、ファッション、建築、デザイン等幅広く現代美術に関する展覧会を開催しています。
            li.loop_item.swiper-slide
              img(src="/assets/img/sightseeing/slide_img_3.png").location__img_01 
              .item__txt
                .item__title ikan ikan park （水族館）
                .item__desc 車15分・約300m
                .item__desc__detail 世界中の魚が集まる水族館。<br>イルカショーやアシカショーも圧巻！
            li.loop_item.swiper-slide
              img(src="/assets/img/sightseeing/slide_img_4.png").location__img_02
              .item__txt
                .item__title サファリリオナ
                .item__desc 徒歩4分・約300m
                .item__desc__detail 百獣の王のライオンをはじめとするたくさんの動物が！<br>肉食動物にエサやりできる体験も好評！
            li.loop_item.swiper-slide
              img(src="/assets/img/sightseeing/slide_img_1.png").location__img_02
              .item__txt
                .item__title ヘブンビーチ
                .item__desc 徒歩4分・約300m
                .item__desc__detail 100を超える植物！そして季節ごとに開催しているフェアも大人気！<br>現在あじさい祭り開催中!
            li.loop_item.swiper-slide
              img(src="/assets/img/sightseeing/slide_img_2.png").location__img_02
              .item__txt
                .item__title 太陽と海の美術館
                .item__desc 徒歩4分・約300m
                .item__desc__detail 絵画、彫刻、ファッション、建築、デザイン等幅広く現代美術に関する展覧会を開催しています。
            li.loop_item.swiper-slide
              img(src="/assets/img/sightseeing/slide_img_3.png").location__img_02
              .item__txt
                .item__title ikan ikan park （水族館）
                .item__desc 車15分・約300m
                .item__desc__detail 世界中の魚が集まる水族館。<br>イルカショーやアシカショーも圧巻！
            li.loop_item.swiper-slide
              img(src="/assets/img/sightseeing/slide_img_4.png").location__img_02
              .item__txt
                .item__title サファリリオナ
                .item__desc 徒歩4分・約300m
                .item__desc__detail 百獣の王のライオンをはじめとするたくさんの動物が！<br>肉食動物にエサやりできる体験も好評！
            li.loop_item.swiper-slide
              img(src="/assets/img/sightseeing/slide_img_1.png").location__img_02
              .item__txt
                .item__title ヘブンビーチ
                .item__desc 徒歩4分・約300m
                .item__desc__detail 100を超える植物！そして季節ごとに開催しているフェアも大人気！<br>現在あじさい祭り開催中!
            li.loop_item.swiper-slide
              img(src="/assets/img/sightseeing/slide_img_2.png").location__img_02
              .item__txt
                .item__title 太陽と海の美術館
                .item__desc 徒歩4分・約300m
                .item__desc__detail 絵画、彫刻、ファッション、建築、デザイン等幅広く現代美術に関する展覧会を開催しています。
            li.loop_item.swiper-slide
              img(src="/assets/img/sightseeing/slide_img_3.png").location__img_02
              .item__txt
                .item__title ikan ikan park （水族館）
                .item__desc 車15分・約300m
                .item__desc__detail 世界中の魚が集まる水族館。<br>イルカショーやアシカショーも圧巻！
          .swiper-button-next.location-slide-btn.fix-btn
    .event-content(data-aos='fade-in')  
      .location__edu
          .sub__content.concept__content_ver02.content__left(data-aos='fade-in')
            .container_child.clear_fix.flex
              .text_wrap.flex.col.center__justify
                h3.text__title_EN.color_FB9 年間イベント
                h3.text__title_JP 1年中楽しめるイベント
                p.detail__content micado INNの位置するここ、恵比寿では、1年中様々なイベントが開催されています。<br/>
                  |ご家族やカップルでも楽しめる、イベントに是非ご参加してみてはいかがでしょうか？          
              .concept__img.img_wrap.flex.col
                img(src="/assets/img/sightseeing/content_img_2.png", alt="")
          .slide.location__edu(data-aos='fade-in')
            .container_child
              .loop__img_wrap.flex.location__swiper_swap.relative
                ul.flex.item01.loop__img_item01.swiper-wrapper
                  li.loop_item.swiper-slide
                    img(src="/assets/img/sightseeing/slide_img_5.png").location__img_01 
                    .item__txt
                      .item__title メニメニフラワーイベント
                      .item__desc__detail 100を超える植物！そして季節ごとに開催しているフェアも大人気！<br>現在あじさい祭り開催中!
                  li.loop_item.swiper-slide
                    img(src="/assets/img/sightseeing/slide_img_6.png").location__img_02
                    .item__txt
                      .item__title 大気球乗船祭り
                      .item__desc__detail 直径20メートルの気球に乗船して、秋ならではの紅葉を楽しめる、お祭りは毎年11月に開催されています。
                  li.loop_item.swiper-slide
                    img(src="/assets/img/sightseeing/slide_img_7.png").location__img_01 
                    .item__txt
                      .item__title アートパーク イルミネーション
                      .item__desc__detail 毎年冬から春にかけては、ホテルの近隣にある、アートパークにて、イルミネーションイベントが開催されています。
                  li.loop_item.swiper-slide
                    img(src="/assets/img/sightseeing/slide_img_8.png").location__img_02
                    .item__txt
                      .item__title かまくら体験
                      .item__desc__detail 積雪量の多い地域だからこそ楽しめる、かまくら体験が毎年1月には開催されます。
                  li.loop_item.swiper-slide
                    img(src="/assets/img/sightseeing/slide_img_5.png").location__img_02
                    .item__txt
                      .item__title メニメニフラワーイベント
                      .item__desc__detail 100を超える植物！そして季節ごとに開催しているフェアも大人気！<br>現在あじさい祭り開催中!
                  li.loop_item.swiper-slide
                    img(src="/assets/img/sightseeing/slide_img_6.png").location__img_02
                    .item__txt
                      .item__title 大気球乗船祭り
                      .item__desc__detail 直径20メートルの気球に乗船して、秋ならではの紅葉を楽しめる、お祭りは毎年11月に開催されています。
                  li.loop_item.swiper-slide
                    img(src="/assets/img/sightseeing/slide_img_7.png").location__img_02
                    .item__txt
                      .item__title アートパーク イルミネーション
                      .item__desc__detail 毎年冬から春にかけては、ホテルの近隣にある、アートパークにて、イルミネーションイベントが開催されています。
                  li.loop_item.swiper-slide
                    img(src="/assets/img/sightseeing/slide_img_8.png").location__img_02
                    .item__txt
                      .item__title かまくら体験
                      .item__desc__detail 積雪量の多い地域だからこそ楽しめる、かまくら体験が毎年1月には開催されます。
                  li.loop_item.swiper-slide
                    img(src="/assets/img/sightseeing/slide_img_5.png").location__img_02
                    .item__txt
                      .item__title メニメニフラワーイベント
                      .item__desc__detail 100を超える植物！そして季節ごとに開催しているフェアも大人気！<br>現在あじさい祭り開催中!
                  li.loop_item.swiper-slide
                    img(src="/assets/img/sightseeing/slide_img_6.png").location__img_02
                    .item__txt
                      .item__title 大気球乗船祭り
                      .item__desc__detail 直径20メートルの気球に乗船して、秋ならではの紅葉を楽しめる、お祭りは毎年11月に開催されています。
                  li.loop_item.swiper-slide
                    img(src="/assets/img/sightseeing/slide_img_7.png").location__img_02
                    .item__txt
                      .item__title アートパーク イルミネーション
                      .item__desc__detail 毎年冬から春にかけては、ホテルの近隣にある、アートパークにて、イルミネーションイベントが開催されています。
                .swiper-button-next.location-slide-btn
    +plan-slide()
    .allcontaints__content.pc(data-aos='fade-in') 
      .container_child
        h3.text__title_EN.color_FB9.flex ALL CONTAINTS
        .allcontaints__wrap_slide
            .swiper-pagination.allcontaints__pagination
            .allcontaints__wrap
              .allcontaints__wrap_item
                .img_wrap.allcontaints__img
                  img(src="../assets/img/rooms/img_1.png", alt="all containts img")
                .allcontaints__detailt 
                  a(href="#")
                    p.text_EN TOP
                  p.text_JP.pc 天国の名にもっともふさわしい楽園へ
              .allcontaints__wrap_item
                  .img_wrap.allcontaints__img
                      img(src="../assets/img/rooms/img_2.png", alt="all containts img")
                  .allcontaints__detailt 
                      a(href="#")
                          p.text_EN ROOM TYPE
                      p.text_JP.pc バリエーション豊かな客室
              .allcontaints__wrap_item
                  .img_wrap.allcontaints__img
                          img(src="../assets/img/rooms/img_3.png", alt="all containts img")
                  .allcontaints__detailt 
                      a(href="#")
                          p.text_EN FOOD
                      p.text_JP.pc 沖縄のすべてを楽しめる豊富なプラン
              .allcontaints__wrap_item
                  .img_wrap.allcontaints__img
                      img(src="../assets/img/rooms/img_4.png", alt="all containts img")
                  .allcontaints__detailt 
                      a(href="#")
                          p.text_EN FACILITY
                      p.text_JP.pc 天国の名にもっともふさわしい楽園へ
              .allcontaints__wrap_item
                  .img_wrap.allcontaints__img
                      img(src="../assets/img/rooms/img_5.png", alt="all containts img")
                  .allcontaints__detailt 
                      a(href="#")
                          p.text_EN ACTIVITY
                      p.text_JP.pc 沖縄のすべてを楽しめる豊富なプラン
              .allcontaints__wrap_item
                  .img_wrap.allcontaints__img
                      img(src="../assets/img/rooms/img_6.png", alt="all containts img")
                  .allcontaints__detailt 
                      a(href="#")
                          p.text_EN ACCESS
                      p.text_JP.pc 沖縄のすべてを楽しめる豊富なプラン
    .allcontaints__content.sp
      .container
        h3.text__title_EN.color_FB9.flex.center__justify ALL CONTENTS
      .allcontaints__wrap_slide.swiper
        .container
          .swiper-pagination.allcontaints__pagination
        .allcontaints__wrap
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontentsp1.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN TOP
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontentsp2.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN ROOM TYPE
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontentsp3.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN STAY PLAN
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontaints_img04.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN PLAN
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontaints_img05.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN DESIGN
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontaints_img06.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN MODEL ROOM
          .allcontaints__wrap_item.swiper-slide
            .img_wrap.allcontaints__img
              img(src="../assets/img/top/allcontaints_img07.png", alt="all containts img")
            .allcontaints__detailt 
              a(href="#") 
                p.text_EN QUALITY
    +menu-inside-image('/assets/img/top/reserve.png')
