extends ../_include/layouts/master.pug
include ../_include/components/banner-block.pug
include ../_include/components/allcontaints.pug
include ../_include/components/plan-slide.pug
include ../_include/components/menu-inside-image.pug

block variable
  - var thisPageTitle = "Micadorayout"
  - var pageName = ""

block description
  - var thisPageDescription = ""

block keywords
  - var thisPageKeywords = "Micadorayout"

block ogpType
  - var thisPageOgpType = "article"

block main
    #restaurantsDetailData.restaurant
      #restaurant-detail-banner
      #restaurant-detail-information
      .white
      +plan-slide()    
      +allcontaints()
      +menu-inside-image('/assets/img/top/reserve.png')