.access_page {
    .map_content {
        iframe {
            width: calc(100% - 20px);
            margin: 70px auto 0;
            height: 638px;
            @include mq-sp() {
                margin-top: 40px;
                width: 100%;
                height: 275px;
            }
        }
    }
    .map_vehicle_content {
        margin-top: 60px;
        .map_vehicle_row {
            width: calc(100% - 20px);
            margin: 0 auto;
            display: flex;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: calc(50% - 1px);
                width: 2px;
                background-color: #EFEFEF;
            }
            @include mq-sp() {
                flex-direction: column;
                width: 100%;
                &::after {
                    content: none;
                }
            }
        }
        .map_vehicle_left {
            width: 50%;
            @include mq-sp() {
                width: 100%;
            }
        }
        .map_vehicle_right {
            width: 50%;
            >div:last-child {
                margin-left: 92px;
            }
            @include mq-sp() {
                width: 100%;
                >div:last-child {
                    margin-left: 0;
                }
            }
        }
        .map_vehicle_col {
            margin-top: 60px;
            width: fit-content;
            max-width: 50%;
            padding: 0 10px;
            @include mq-sp() {
                width: 100%;
                max-width: 100%;
            }
        }
        .map_vehicle_detail {
            margin-top: 50px;
            margin-bottom: 10px;
            .map_vehicle_detail-item {
                position: relative;
                padding-left: 25px;
                padding-bottom: 30px;
                border-left: 5px solid #E1E1E1;
                margin-left: 11px;
                &::after {
                    content: "";
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    border-radius: 50%;
                    border: 7px solid #B7B7B7;
                    background-color: #fff;
                    left: -17px;
                    top: -2px;
                }
            }
            .map_vehicle_detail-item:last-child {
                border-left: 7px solid transparent !important;
                padding-bottom: 0 !important;
                &::after {
                    border: 7px solid #000 !important;
                }
            }
        }
        .destination_txt {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 0.1rem;
        }
        .location_txt {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            letter-spacing: 0.1rem; 
            margin-top: 12px;
        }
        .vehicle_type_EN {
            text-align: center;
            font-size: 30px;
            line-height: 37px;
            // font-family: 'Montserrat';
            font-weight: 400;
        }
        .vehicle_type_JP {
            text-align: center;
            font-size: 10px;
            line-height: 44px;
            letter-spacing: 0.06rem;
            font-weight: 600;
            margin-top: 5px;
        }
        .time_extimate {
            // text-align: center;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.06rem;
            font-weight: 600; 
            position: relative;
            @include mq-sp() {
                display: flex;
                justify-content: center;
            }
            &::after {
                @include mq-sp() {
                    content: "";
                    height: 50px;
                    width: 1px;
                    background-color: #707070;
                    position: absolute;
                    top: 10px;
                    top: -55px;
                    -webkit-animation: verticalMaskAnim 2s cubic-bezier(0.19, 1, 0.22, 1) 0s infinite;
                    animation: verticalMaskAnim 2s cubic-bezier(0.19, 1, 0.22, 1) 0s infinite;
                }
            }
        }
    }
    @keyframes verticalMaskAnim {
        0% {
            -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
        }
        25% {
            -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
        }
        75% {
            -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
        }
        to {
            -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
        }
    }
    .plan_content {
        margin-top: 100px;
        @include mq-sp() {
            margin-top: 50px;
        }
    }
    .allcontaints__content.pc {
        display: none !important;
    }
    .between-justify {
        justify-content: space-between;
    }
    .around-justify {
        justify-content: space-around;
    }
    .display-wrap {
        flex-wrap: wrap;
    }
    .col-sp {
        @include mq-sp() {
            flex-direction: column;
        }
    }
}