.facilities{
  .custorm-container{
    width: 100%;
    @include mq-sp(){
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  .facilities-box{
    margin-top: 80px;
    &.first {
      margin-top: 100px;
      @include mq-sp(){
        margin-top: 40px;
      }
    }
    @include mq-sp(){
      margin-top: 45px;
    }
    .facilities-box__left{
      width: 50%;
      @include mq-sp(){
        width: unset;
        margin-right: 0;
      }
    }
    .facilities-box__slide{
      width: calc( 100% - 80px);
      // max-width: 620px;
      margin: unset;
      @include mq-sp(){
        width: unset;
      }
    }
    .facilities-box__title{
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 20px;
      font-weight: bold;
      color: #333333;
      @include mq-sp(){
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 0px
      }
    }
    .facilities-box__right{
      max-width: 335px;
      margin-top: 40px;
      @include mq-extra-large(){
        max-width: unset;
      }
      @include mq-sp(){
        max-width: unset;
        margin-left: 0;
        margin-top: 0;
      }
    }
    .ml-180{
      margin-left: 180px;
      @include mq-sp(){
        margin-left: 0;
      }
    }
    .facilities-box__desc{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.04rem;
      margin: 10px 0 5px;
      color: #333333;
      @include mq-sp(){
        font-size: 14px;
        margin: 10px 0px;
      }
    }
    .facilities-box__row {
      display: flex;
    }
    .facilities-box__row-left{
      width: 60px;
      @include mq-extra-large(){
        width: 80px;
      }
    }
    .facilities-box__row-right {
      margin-left: 20px;
    }
    .facilities-box__text{
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
      color: #37373C;
      @include mq-sp(){
        font-size: 12px;
      }
    }
    .facilities-box__link{
      color: #0000ff;
      text-decoration: underline;
      margin-right: 9.5px;
      cursor: pointer;
    }
    .facilities-gray{
      line-height: 28px;
      color: #AFAFB9;
    }
    .mt-23{
      margin-top: 23px;
    }
    .mt-20{
      margin-top: 20px;
    }
    .order-2{
      order: 2;
      .facilities-box__slide{
        margin-right: 0;
        margin-left: auto;
      }
      @include mq-sp(){
        order: unset;
      }
    }
    .jsb{
      justify-content: space-between;
    }
    .facilities-box__note{
      font-size: 10px;
      line-height: 15px;
      font-weight: bold;
      color: #AFAFB9;
      @include mq-extra-large(){
        font-size: 12px;
      }
    }
    .facilities-box__note-desc{
      font-size: 10px;
      line-height: 20px;
      color: #AFAFB9;
      margin-top: 10px;
      @include mq-extra-large(){
       font-size: 12px; 
      }
    }
    .facilities-box__title-sp{
      // font-family: 'Gotham';
      font-size: 16px;
      line-height: 21px;
      color: #AFAFB9;
      margin-bottom: 20px;
      display: none;
      @include mq-sp(){
        display: block;
      }
    }
    .swiper-slide{
      height: 444px;
      object-fit: cover;
      @include mq-sp(){
        height: 240px;
      }
    }
    .facilities-box__swiper-pagination{
      position: absolute;
      z-index: 99;
      bottom: 20px;
      text-align: center;
    }
    .swiper-pagination-bullet {
      background: #C9C9C9;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      opacity: var(--swiper-pagination-bullet-opacity, 1);
      background: var(--swiper-pagination-color,var(--swiper-theme-color));
    }
  }
  .column-sp{
    @include mq-sp(){
      flex-direction: column;
    }
  }
  .stay_plan_content{
    .text_title_EN {
      @include mq-sp(){
        font-size: 14px;
        line-height: 19px;
      }
    }
    @include mq-sp(){
      padding: 0;
    }
  }
  img{
    width: 100%;
  }
  .plan_content {
    margin-top: 100px;
    @include mq-sp(){
      margin-top: 45px;
    }
  }

}