.restaurant {
  .restaurant-box {
    padding: 100px 0 0;
    text-align: center;
    // font-family: "Source Han Sans JP";
  }
  .restaurant-box__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.1rem;
    color: #000;
  }
  .restaurant-box__sub-title {
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.04rem;
    color: #333333;
    opacity: 0.4;
    margin-top: 9px;
  }
  .restaurant-box__desc {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.04rem;
    color: #333333;
    margin-top: 40px;
  }
  .restaurant-desc {
    display: flex;
    padding-top: 62px;
    padding-bottom: 100px;
    @include mq-sp(){
      padding-top: 30px;
      padding-bottom: 50px;
    }
    .restaurant-desc__col {
      width: 50%;
      @include mq-sp(){
        width: 100%;
      }
    }
    .restaurant-desc__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 44px;
      letter-spacing: 0.06rem;
      color: #333333;
      @include mq-sp(){
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
      }
    }
    .restaurant-desc__content {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.04rem;
      margin-top: 32px;
      padding-right: 61px;
      color: #333333;
      @include mq-sp(){
        font-size: 12px;
        line-height: 24px;
        margin-top: 10px;
        padding-right: 0;
        margin-bottom: 20px;
      }
    }
    .restaurant-desc__row {
      display: flex;
      padding-bottom: 20px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
      @include mq-sp(){
        border-top: 1px solid #ddd;
        border-bottom: none;
        padding-top: 15px;
        padding-bottom: 0;
        margin-bottom: 15px;
      }
    }
    .restaurant-desc__text {
      font-size: 16px;
      line-height: 24px;
      color: #37373c;
      @include mq-sp(){
        font-size: 12px;
        line-height: 20px;
      }
    }
    .restaurant-desc__gray {
      font-size: 16px;
      line-height: 24px;
      margin-right: 16px;
      color: #afafb9;
      min-width: 64px;
      @include mq-sp(){
        font-size: 12px;
        line-height: 17px;
        min-width: 80px;
      }
    }
    .restaurant-desc__link {
      color: #0000ff;
      text-decoration: underline;
      margin-right: 9.5px;
      cursor: pointer;
       @include mq-sp(){
        margin-right: 6.5px;
      }
    }
    svg {
      @include mq-sp(){
        width: 12px;
        height: 15px;
        margin-top: 3px;
      }
    }
    .restaurant-desc__item {
      &::before {
        content: "■";
      }
    }
    .restaurant-desc__gray--custom{
      font-size: 10px;
      color: #AFAFB9;
    }
    .lh-15{
      line-height: 15px;
    }
    .lh-20{
      line-height: 20px;
    }
    .hide-box-sp{
      @include mq-sp(){
        display: none;
      }
    }
    .restaurant-desc__button{
      // font-family: "Source Han Sans JP";
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      margin: 0 31px 0 24px;
      max-width: 100%;
      height: 54px;
      color: #333333;
      border: 1px solid #707070;
      cursor: pointer;
      box-sizing: border-box;
      display: none;
      align-items: center;
      justify-content: center;
    }
    .btn_search_vacancy {
      min-width: 269px;
      min-height: 70px;
      padding: 5px 20px;
      border-radius: 5px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 600;
      margin: 45px 0;
      background: linear-gradient(130deg, #2C8AAE, #2AB1AA);
      color: #fff;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: all 0.3s;
      width: fit-content;
      height: fit-content;
   }
    @include mq-sp(){
      flex-direction: column;
      padding-top: 0;
    }
  }
  .restaurant-list{
    padding-top: 36px;
    .restaurant-title{
      // font-family: 'Gotham';
      font-size: 16px;
      line-height: 21px;
      font-weight: 400;
      color: #AFAFB9;
    }
    .restaurant-list__menu{
      margin-top: 18px;
      border-top: 1px solid #ddd;
    }
    .restaurant-list__link{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0;
      border-bottom: 1px solid #ddd;

    }
    .restaurant-list__title{
      // font-family: 'Source Han Sans JP';
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.04rem;
      color: #37373C;
    }
    .restaurant-list__sub-title{
      // font-family: 'Source Han Sans JP';
      font-size: 10px;
      line-height: 24px;
      letter-spacing: 0.04rem;
      color: #37373C;
    }
  }
  .allcontaints__content  {
    margin-top: 100px;
    @include mq-sp(){
      margin-top: 40px;
    }
  }
}
