.executive_page {
    .slide_product_content {
        margin-top: 100px;
        @include mq-sp() {
            margin-top: 70px;
        }
    }
    .product_infor_left {
        width: 50%;
        padding-top: 77px;
        padding-right: 70px;
        @include mq-lg() {
            padding-top: 50px;
            padding-right: 40px;
        }
        @include mq-sp() {
            width: 100%;
            padding: 15px 0 0;
        }
        .product_title {
            font-size: 24px;
            line-height: 44px;
            font-weight: 600;
            letter-spacing: 0.06rem;
            color: #333;
            margin-bottom: 32px;
            @include mq-lg() {
                margin-bottom: 20px;
            }
            @include mq-sp() {
                margin-bottom: 10px;
            }
        }
        .product_description {
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.04rem;
            font-weight: 500;
            color: #333;
        }
    }
    .product_infor_right {
        width: 50%;
        padding-top: 42px;
        @include mq-lg() {
            padding-right: 20px;
        }
        @include mq-sp() {
            width: 100%;
            padding: 0;
        }
        .product_table_infor {
            width: 100%;
            .product_table_row {
                border-bottom: 1px solid #ddd;
                display: flex;
                justify-content: space-between;
            }
            .product_table_left {
                // width: 80px;
                color: #AFAFB9;
                overflow:hidden;
                display:inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex: .16;
            }
            .product_table_right {
                flex: .82;
            }
            .product_table_col {
                padding: 20px 0;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                @include mq-sp() {
                    padding: 15px 0;
                    font-size: 12px;
                    line-height: 17px;
                }
                .txt_link_defaul {
                    color: #0000ff;
                    text-decoration: underline;
                    cursor: pointer;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    display: flex;
                }
                svg {
                    margin-left: 10px;
                }
            }
        }
    }
    .btn_search_vacancy {
        min-width: 269px;
        min-height: 70px;
        padding: 5px 20px;
        border-radius: 5px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        margin-top: 45px;
        background: linear-gradient(130deg, #2C8AAE, #2AB1AA);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all .3s;
        width: fit-content;
        height: fit-content;
        &:hover {
            opacity: .8;
        }
        @include mq-sp(){
            min-width: unset;
            margin: 45px auto 0;
            max-width: 335px;
            width: 100%;
            min-height: 60px;
        }
    }
    .plan_content {
        margin-top: 40px;
        @include mq-sp(){
            margin-top: 60px;
        }
    }
    .amenity {
        margin-top: 100px;
        @include mq-sp(){
            margin-top: 50px;
        }
    }
    .allcontaints__content 
    {
        margin-top: 100px;
        @include mq-sp(){
            margin-top: 40px;
        }
        .text__title_EN{
            color: #AFAFB9;
            // font-family: 'Gotham';
            font-size: 20px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0.1rem;
            @include mq-sp(){
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.1rem;
            }
        }
        .allcontaints__wrap_slide {
            @include mq-sp(){
                padding-right: 20px;
            }
        }
    }
}