extends ../_include/layouts/master.pug
include ../_include/components/btn-link.pug
include ../_include/components/allcontaints.pug
include ../_include/components/menu-inside-image.pug
include ../_include/components/plan-model.pug
include ../_include/components/banner-block.pug
include ../_include/components/plan-slide.pug

block variable
  - var thisPageTitle = "Micadorayout"
  - var pageName = "News"

block description
  - var thisPageDescription = ""

block keywords
  - var thisPageKeywords = "Micadorayout"

block ogpType
  - var thisPageOgpType = "article"

block main
  .news_page
    +banner-block("/assets/img/news/banner.png","NEWS","ニュース") 
    .infomation_content(data-aos='fade-in',data-aos-anchor-placement="top-center") 
      .container
        .text_title_EN INFORMATION
        #data-news.data-news 
        #pagination.infomation_pagination       
    +plan-slide() 
    +allcontaints()
    +menu-inside-image('/assets/img/top/reserve.png')
