extends ../_include/layouts/master.pug
include ../_include/components/btn-link.pug
include ../_include/components/allcontaints.pug
include ../_include/components/location-slide.pug
include ../_include/components/menu-inside-image.pug
include ../_include/components/plan-model.pug
include ../_include/components/banner-block.pug

block variable
  - var thisPageTitle = "Micadorayout"
  - var pageName = "News"

block description
  - var thisPageDescription = ""

block keywords
  - var thisPageKeywords = "Micadorayout"

block ogpType
  - var thisPageOgpType = "article"

block main
  .news_page
    +banner-block("/assets/img/news/banner.png","NEWS","浅草ビューホテルの","最新情報をご紹介します。","浅草ビューホテルの","最新情報をご紹介します。") 
    .infomation_content(data-aos='fade-in',data-aos-anchor-placement="top-center") 
      .container_child
        .text_title_EN INFORMATION
        #data-news.data-news 
        #pagination.infomation_pagination       
    .stay_plan_content 
        .container_child
            .text_title_EN(data-aos='fade-in') STAY PLAN
            .stay_plan_row.flex(data-aos='fade-in') 
                .stay_plan_left
                    .col_select
                        #recommendation.col_select_item.flex.center__align.center__justify.active おすすめ
                        #popular_plan.col_select_item.flex.center__align.center__justify 人気プラン
                        #winter_only.col_select_item.flex.center__align.center__justify 冬季限定
                    .col_radio_wrap.relative    
                        .flex.col.recommendation.col_radio_wrap-item.active
                            .flex.center__align.radio_item
                                input#recommendation-01(type="radio", name="recommendation", checked) 
                                label(for='recommendation-01') 全て
                            .flex.center__align.radio_item
                                input#recommendation-02(type="radio", name="recommendation") 
                                label(for='recommendation-02') 素泊まり
                            .flex.center__align.radio_item
                                input#recommendation-03(type="radio", name="recommendation") 
                                label(for='recommendation-03') 朝食付き
                            .flex.center__align.radio_item
                                input#recommendation-04(type="radio", name="recommendation") 
                                label(for='recommendation-04') 朝夕食付き
                        .flex.col.popular_plan.col_radio_wrap-item
                            .flex.center__align.radio_item
                                input#popular_plan-01(type="radio", name="popular_plan", checked) 
                                label(for='popular_plan-01') 朝食付き
                            .flex.center__align.radio_item
                                input#popular_plan-02(type="radio", name="popular_plan") 
                                label(for='popular_plan-02') 素泊まり
                            .flex.center__align.radio_item
                                input#popular_plan-03(type="radio", name="popular_plan") 
                                label(for='popular_plan-03') 全て
                            .flex.center__align.radio_item
                                input#popular_plan-04(type="radio", name="popular_plan") 
                                label(for='popular_plan-04') 朝夕食付き
                        .flex.col.winter_only.col_radio_wrap-item
                            .flex.center__align.radio_item
                                input#winter_only-01(type="radio", name="winter_only", checked) 
                                label(for='winter_only-01') 朝食付き
                            .flex.center__align.radio_item
                                input#winter_only-02(type="radio", name="winter_only") 
                                label(for='winter_only-02') 朝食付き
                            .flex.center__align.radio_item
                                input#winter_only-03(type="radio", name="winter_only") 
                                label(for='winter_only-03') 全て
                            .flex.center__align.radio_item
                                input#winter_only-04(type="radio", name="winter_only") 
                                label(for='winter_only-04') 素泊まり
                .stay_plan_right.flex.relative
                    .stay_plan_btn_swiper.swiper-button-next.pc_flex
                    .slide_stay_plan.pc
                        .swiper-wrapper.slide_stay_plan_wrap.flex
                            .slide_plan_item.swiper-slide.relative
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約 
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.swiper-slide.relative
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約 
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.swiper-slide.relative
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜           
                    .slide_stay_plan.sp
                        .slide_stay_plan_wrap
                            .slide_plan_item.relative
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約 
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.relative
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約 
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.relative.hide
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.relative.hide
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜   
                            .slide_plan_item.relative.hide
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            .slide_plan_item.relative.hide
                                .img_wrap
                                    img(src="../assets/img/top/img_food.png", alt="")
                                .slide_txt_wrap
                                    .slide_txt_title 極上夜景プラン<br>16階以上、東京スカイツリー®側お部屋確約
                                    .slide_txt_description 東京スカイツリー®と下町浅草が織りなす当ホテル自慢<br>の眺望をどの客室からもお愉しみいただけます。   
                                    .slide_txt_price.flex 
                                        .properties 一人あたりの参考料金
                                        .value 4,014 
                                            span 円〜
                            #btn_view_more.btn_view_more.sp_flex.center__justify.center__align もっとみる          
    +allcontaints()
    +menu-inside-image('/assets/img/top/reserve.png')
