extends ../_include/layouts/master.pug
include ../_include/components/allcontaints.pug
include ../_include/components/menu-inside-image.pug
include ../_include/components/banner-block.pug
include ../_include/components/plan-slide.pug

block variable
  - var thisPageTitle = "Micadorayout"
  - var pageName = "Access"

block description
  - var thisPageDescription = ""

block keywords
  - var thisPageKeywords = "Micadorayout"

block ogpType
  - var thisPageOgpType = "article"

block main
    .access_page
      +banner-block("/assets/img/news/banner.png","ACCESS","アクセス") 
      .map_content(data-aos='fade-in')
        .container
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1662873.2451231668!2d139.7698121!3d35.50924045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x605d1b87f02e57e7%3A0x2e01618b22571b89!2zVMO0a3nDtCwgTmjhuq10IELhuqNu!5e0!3m2!1svi!2s!4v1655274358673!5m2!1svi!2s' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')   
      .map_vehicle_content
        .container 
          .map_vehicle_row 
            .map_vehicle_left
              .vehicle_type_EN TRAIN/BUS
              .vehicle_type_JP 電車・バスでのアクセス
              .flex.between-justify.display-wrap.col-sp
                .map_vehicle_col 
                  .time_extimate 東京から約4時間10分 
                  .map_vehicle_detail 
                    .map_vehicle_detail-item
                      .destination_txt 東京駅
                      .location_txt 東海道・山陽新幹線ひかり(約130分)
                    .map_vehicle_detail-item
                      .destination_txt micado駅
                      .location_txt 特急しらさぎ(約50分)
                    .map_vehicle_detail-item
                      .destination_txt micado駅
                      .location_txt 副鉄バス[かれい崎行](約70分)
                    .map_vehicle_detail-item
                      .destination_txt micado
                      .location_txt 徒歩(約2分)
                    .map_vehicle_detail-item
                      .destination_txt 東京駅
                .map_vehicle_col 
                  .time_extimate 大阪から約4時間10分 
                  .map_vehicle_detail 
                    .map_vehicle_detail-item
                      .destination_txt micado駅
                      .location_txt 特急しらさぎ(約50分)
                    .map_vehicle_detail-item
                      .destination_txt micado駅
                      .location_txt 副鉄バス[かれい崎行](約70分)
                    .map_vehicle_detail-item
                      .destination_txt micado
                      .location_txt 徒歩(約2分)
                    .map_vehicle_detail-item
                      .destination_txt micado INN
            .map_vehicle_right
              .vehicle_type_EN CAR
              .vehicle_type_JP お車でのアクセス
              .flex.around-justify.col-sp
                .map_vehicle_col 
                  .time_extimate 東京から約4時間10分 
                  .map_vehicle_detail 
                    .map_vehicle_detail-item
                      .destination_txt micadoIC
                      .location_txt 関越自動車道
                    .map_vehicle_detail-item
                      .destination_txt micadoJCT
                      .location_txt 中央自動車道
                    .map_vehicle_detail-item
                      .destination_txt micadoJCT
                      .location_txt 東名自動車道
                    .map_vehicle_detail-item
                      .destination_txt micadoJCT
                      .location_txt 名神高速道路
                    .map_vehicle_detail-item
                      .destination_txt micado INN
                .map_vehicle_col 
                  .time_extimate 東京から約4時間10分 
                  .map_vehicle_detail 
                    .map_vehicle_detail-item
                      .destination_txt micadoIC
                      .location_txt 関越自動車道
                    .map_vehicle_detail-item
                      .destination_txt micadoJCT
                      .location_txt 中央自動車道
                    .map_vehicle_detail-item
                      .destination_txt micadoJCT
                      .location_txt 東名自動車道
                    .map_vehicle_detail-item
                      .destination_txt micadoJCT
                      .location_txt 名神高速道路
                    .map_vehicle_detail-item
                      .destination_txt micado INN
      +plan-slide() 
      +allcontaints()
      +menu-inside-image('/assets/img/top/reserve.png')
