extends ../_include/layouts/master.pug
include ../_include/components/btn-link.pug
include ../_include/components/allcontaints.pug
include ../_include/components/menu-inside-image.pug
include ../_include/components/banner-block.pug
include ../_include/components/plan-slide.pug

block variable
  - var thisPageTitle = "Micadorayout"
  - var pageName = "Executive"

block description
  - var thisPageDescription = ""

block keywords
  - var thisPageKeywords = "Micadorayout"

block ogpType
  - var thisPageOgpType = "article"

block main
  #roomsDetailData.executive_page
    #room-banner
    #rooms-detail-information
    .amenity
      .container_child
        .amenity_title AMENITY
        #amenity-container
          .amenity_row
        .amenity_more 全てのアメニティを表示
          span
            svg(xmlns='http://www.w3.org/2000/svg' width='10.9' height='6.157' viewbox='0 0 10.9 6.157')
              path#Path_791(data-name='Path 791' d='M4102.758,188.041l4.743,4.743-4.743,4.743' transform='translate(198.234 -4102.051) rotate(90)' fill='none' stroke='#666' stroke-linecap='round' stroke-width='1')
    +plan-slide()  
    +allcontaints()
    +menu-inside-image('/assets/img/top/reserve.png')
